In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

In [4]:
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [5]:
# İlk satırın ikinci sütunundaki değeri alalım
df.iloc[0, 1]

4

In [6]:
# İlk iki satırı seçelim
df.iloc[:2, :]

   A  B  C
0  1  4  7
1  2  5  8

In [7]:
# 'A' ve 'C' sütunlarını seçelim
df.iloc[:, [0, 2]]

   A  C
0  1  7
1  2  8
2  3  9

In [8]:
# İkinci ve üçüncü satırları, ikinci ve üçüncü sütunları seçelim
df.iloc[1:3, 1:3]

   B  C
1  5  8
2  6  9

In [10]:
df.iloc[:,:1]

   A
0  1
1  2
2  3